.heroContainer {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    @media screen and (max-width: 1030px) {
        flex-direction: column;
    }
    .leftContainer {
        flex: 0.5;
        padding-left: 15%;
        @media screen and (max-width: 1030px) {
            padding: 0 4%;
        }
        .heading {
            margin-top: 25%;
            font-size: 3.5rem;
            text-align: left;
            @media screen and (max-width: 768px) {
                font-size: 2.7rem;
            }
        }
        .subheading {
            margin-top: 2%;
            text-align: left;
            line-height: 1.4rem;
        }
        .buttons {
            align-items: center;
            display: flex;
            padding: 2rem 0;
            cursor: pointer;
            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
            .download,
            .demo {
                padding: 20px 40px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 20px;
                border-radius: 10px;
                margin: 0 0.5rem 0 0.5rem;
                width: 250px;
                @media screen and (max-width: 768px) {
                    width: 250px;
                    font-size: 15px;
                }
            }
            .demo {
                background-color: var(--text-primary);
                color: var(--text-invert);
                border: 2px solid var(--text-primary);
                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
            .download {
                border: 2px solid var(--text-primary);
                @media screen and (max-width: 768px) {
                    margin-top: 10px;
                }
            }
        }
    }
    .rightContainer {
        flex: 0.5;
        padding-right: 5%;
    }
}
