.info{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.infoheading{
    font-family: poppins;
    font-size: 60px;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.infocards{
    display: flex;
    height: 50%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.infocard{
    width: 30%;
}

.cardheading{
    font-size: 25px;
    font-weight: bolder;
    padding: 1rem;
}

.cardsubheading{
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 1rem;
    font-family: poppins;
}

@media(max-width: 850px){
    .info{
        width: 100%;
        height: fit-content;
    }
    .infocards{
        flex-direction: column;
    }

    .infocard{
        padding: 1rem;
    }

    .infoheading{
        font-family: sans-serif;
        font-size: 50px;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}