@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');


.contribute{
    width: 100%;
    min-height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 70%;
    height: fit-content;
    background: linear-gradient(335.73deg, #678D28 0%, #8CA75F 98.52%);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text{
    display: flex;
    align-items: flex-start;
    padding: 2rem 0rem 2rem 4rem;
    flex-direction: column;
    justify-content: center;
}

.text h1{
    text-align: left;
    font-family: poppins;
}

.download {
    background-color: #fff;
    border: none;
    color: #0B4068;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    font-family: poppins;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
  } 

  .buttons{
    padding: 2rem 0 0 0;
    display: flex;
}

.image{
    display: flex;
    flex-direction: row;
    // padding-top: 5rem;
}

.card{
    overflow: hidden;
    padding-left: 2rem;
}

.card img{
    width: 460px;
    height: 370px;
    background-position: center;
  background-repeat: no-repeat;
}

@media(max-width: 1280px){
    
}

@media(max-width: 1150px){
    .card{
        padding-left: 0rem;
        padding-right: 1rem;
    }

    .text{
        padding: 2rem 2rem 2rem 2rem;
    }
}

@media(max-width: 1020px){
    .contribute{
        width: 100%;
        height: fit-content;
    }
    .container{
        width: 80%;
        height: fit-content;
        flex-direction: column;
        margin: 2rem 0 2rem 0;
    }

    .image{
        overflow: hidden;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    
}

@media(max-width: 540px){
    .card img{
        width: 300px;
        // height: 310px;
    }

    .container{
        width: 80%;
        height: fit-content;
        flex-direction: column;
        margin: 2rem 0 2rem 0;
    }

    .arrow img{
        width: 120px;
        height: 120px;
    }

    .buttons{
        padding-top: 1rem;
    }
}